@charset 'UTF-8';

@media screen and (min-width:768px){
    body{
        width: 700px;
        margin: auto;
    }
    header{
        margin-top: 60px;
        border-radius: 20px 20px 0px 0px;
        
    }
    header img{
        padding: 30px;
        border-radius: 40px;
    }
    main{
        margin-bottom: 60px;
        border-radius: 0px 0px 20px 20px;
        
    }
    table{
        width: 100%;
    }
    th{
        text-align: left;
    }
}